@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/*=========  VARIABLES  =========*/
// colors
$body-color: #000000;
$body-color-second: #00ff00;
$color-form-alt: #191970;
$text-color: #ffffff;

// sizes
$radius-size: 0.7rem;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  background-color: $body-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

.section0,
.section1,
.section2,
.section3,
.section4 {
  height: 100vh;
}

.section0 {
  display: flex;

  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-section0 {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .links-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $body-color-second;
    height: 55vh;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: $radius-size;
  }

  .link {
    width: 90%;
    margin: 0.625rem auto;
    border: 1px solid $body-color;
    border-radius: $radius-size;
    padding: 0.625rem;
    cursor: pointer;
  }

  .link-content {
    text-align: center;
    color: $body-color;
  }

  .links-container .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link span {
    transition: all 0.3s ease;
  }

  .link:hover span {
    font-size: 1.125rem;
    color: $text-color;
  }

  .link-with-icons {
    display: flex;
    align-items: center;
    border: none;
    position: absolute;
    bottom: 1.4rem;
    cursor: pointer;
  }

  .link-with-icons .icon {
    font-size: 2rem;
    transition: all 0.3s ease; /* Adiciona uma transição suave */
  }

  .link-with-icons:hover .icon {
    font-size: 2.3rem; /* Ajuste o tamanho desejado para o crescimento */
    color: $text-color;
  }
}

.section1 {
  background-color: red;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .image-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .logo-sections {
      position: absolute;
      top: 0;
      max-width: 20%;
      max-height: 20%;
    }
  }
  .form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $body-color-second;
    padding: 1rem;
    border-radius: $radius-size;
  }
  .div1 {
    width: 100%;
    margin-right: 0.5rem;
  }
  .div2 {
    width: 100%;
    margin-left: 0.5rem;
  }
  .form-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    .form-input {
      border: none;
      outline: none;
      border-radius: $radius-size;
      padding: 0.5rem;
      margin-top: 0.2rem;
    }
  }
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .form-text {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
  }

  .file-label {
    display: flex;
    align-items: center;
  }

  .file-icon {
    cursor: pointer;
    color: $color-form-alt;
    margin-left: 0.3rem;
    transition: all 0.3s ease;
  }

  .file-icon:hover {
    font-size: 1.2rem;
    color: $text-color;
  }

  input[type="file"] {
    display: none;
  }

  .file-names {
    display: flex;
    flex-direction: column;
  }

  .files-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    background-color: $color-form-alt;
    color: $text-color;
    margin-top: 0.5rem;
    padding: 0.2rem;
    border-radius: $radius-size;

    .delete-icon {
      padding-right: 1rem;
      cursor: pointer;
      font-size: 1rem;
      transition: all 0.3s ease;
    }
    .delete-icon:hover {
      font-size: 1.1rem;
      color: red;
    }
  }

  .file-name {
    padding: 0.2rem;
    font-size: 0.75rem;
  }

  .submit-button {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    background-color: $color-form-alt;
    color: $text-color;
    border-radius: $radius-size;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
  }
  .submit-button:hover {
    background-color: $text-color;
    color: $color-form-alt;
    font-size: 1.125rem;
  }
}

.section3 {
  background-color: green;
}

.section4 {
  background-color: yellow;
}

// Estilos para telas pequenas (até 768px)
@media screen and (max-width: 768px) {
  .section0 {
    display: flex;
    flex-direction: column;
    height: auto; /* Remove a altura fixa */
    padding-inline: 2rem;

    .left {
      order: 1; /* Muda a ordem para ficar no topo */
      margin-bottom: -8rem;
    }

    .right {
      padding: 1rem;
      margin-bottom: -5rem;
      order: 2; /* Muda a ordem para ficar na parte inferior */
    }
  }

  .section2 {
    .image-logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .logo-sections {
        position: absolute;
        top: 0;
        max-width: 10%;
        max-height: 10%;
      }
    }

    .form-container {
      width: 70%;
      background-color: $body-color-second;
    }
    .form-group {
      flex-direction: column;
    }
    .div1{
      margin-right: 0rem;
    }
    .div2{
      margin-left: 0rem;
    }
  }
}
