@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/*=========  VARIAVEIS  =========*/
// cores
$body-color: #000000;
$body-color-second: #00ff00;
$color-form-alt: #191970;
$text-color: #ffffff;

// tamanhos
$radius-size: 0.7rem;

/*=========  ESTILIZAÇÃO  =========*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  background-color: $body-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

.section0,
.section1,
.section2,
.section3,
.section4 {
  height: 100vh;
  //Revelar ao rolar
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s, transform 2s;
}

//Revelado ao rolar
.section0.revealed,
.section1.revealed,
.section2.revealed,
.section3.revealed,
.section4.revealed {
  opacity: 1;
  transform: translateY(0);
}

.section0 {
  display: flex;

  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    padding-right: 7rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-section0 {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .links-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $body-color-second;
    height: 55vh;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: $radius-size;
  }

  .link {
    width: 90%;
    margin: 0.625rem auto;
    border: 1px solid $body-color;
    border-radius: $radius-size;
    padding: 0.625rem;
    cursor: pointer;
  }

  .link-content {
    text-align: center;
    color: $body-color;
  }

  .links-container .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link span {
    transition: all 0.3s ease;
  }

  .link:hover span {
    font-size: 1.125rem;
    color: $text-color;
  }

  .link-with-icons {
    display: flex;
    align-items: center;
    border: none;
    position: absolute;
    bottom: 1.4rem;
    cursor: pointer;
  }

  .link-with-icons .icon {
    font-size: 2rem;
    transition: all 0.3s ease; /* Adiciona uma transição suave */
  }

  .link-with-icons:hover .icon {
    font-size: 2.3rem; /* Ajuste o tamanho desejado para o crescimento */
    color: $text-color;
  }
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .image-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .logo-sections {
      position: absolute;
      top: 0;
      max-width: 20%;
      max-height: 20%;
    }
  }

  .portifolio-container-large {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    .large-row1,
    .large-row2 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      .portifolio-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        .rounded-image {
          cursor: pointer;
          border-radius: 100%;
          max-width: 60%;
          border: 0.2rem $body-color-second solid;
          transition: all 0.3s ease;
        }
        .rounded-image:hover {
          max-width: 80%;
        }
      }
    }
  }
  .portifolio-container-medium {
    display: none;
  }
  .portifolio-container-minimum {
    display: none;
  }

  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background: linear-gradient(to right, $body-color, #008000);
    // background-color: #ffffff;
    max-width: 85%;
    border-radius: $radius-size;
    border: 0.1rem $body-color-second solid;
  }

  .swiper_container {
    height: 100%;
    padding: 2rem;
    position: relative;
  }

  .swiper-slide {
    width: 40%;
    position: relative;
  }

  .swiper-slide img {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
  }

  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }

  .slider-controler {
    position: relative;
    // bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-controler .swiper-button-next {
    position: absolute;
    bottom: 0;
    transform: translateX(-58%) !important;
  }

  // .slider-controler .slider-arrow {
  // background: $body-color-second;
  // width: 3rem;
  // height: 3rem;
  // border-radius: 50%;
  // margin-top: 1px;
  // left: 32%;
  // transform: translateX(-42%);
  // filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  // }

  .slider-controler .slider-arrow {
    .arrow-back-outline,
    .arrow-forward-outline {
      font-size: 1.5rem;
      // color: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
      color: $text-color;
    }
    .arrow-back-outline:hover,
    .arrow-forward-outline:hover {
      color: #0000ff;
    }
  }

  .slider-controler .slider-arrow::after {
    content: "";
  }

  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  }

  .swiper-pagination .swiper-pagination-bullet {
    // filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    background: $text-color;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background: #0000ff;
  }
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .image-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .logo-sections {
      position: absolute;
      top: 0;
      max-width: 20%;
      max-height: 20%;
    }
  }
  .form-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $body-color-second;
    padding: 1rem;
    border-radius: $radius-size;
    margin-top: 5rem;
  }
  .div1 {
    width: 100%;
    margin-right: 0.5rem;
  }
  .div2 {
    width: 100%;
    margin-left: 0.5rem;
  }
  .form-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    .form-input {
      border: none;
      outline: none;
      border-radius: $radius-size;
      padding: 0.5rem;
      margin-top: 0.2rem;
    }
  }
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .form-text {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
  }

  .file-label {
    display: flex;
    align-items: center;
  }

  .file-icon {
    cursor: pointer;
    color: $color-form-alt;
    margin-left: 0.3rem;
    transition: all 0.3s ease;
  }

  .file-icon:hover {
    font-size: 1.2rem;
    color: $text-color;
  }

  input[type="file"] {
    display: none;
  }

  .file-names {
    display: flex;
    flex-direction: column;
  }

  .files-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    background-color: $color-form-alt;
    color: $text-color;
    margin-top: 0.5rem;
    padding: 0.2rem;
    border-radius: $radius-size;

    .delete-icon {
      padding-right: 1rem;
      cursor: pointer;
      font-size: 1rem;
      transition: all 0.3s ease;
    }
    .delete-icon:hover {
      font-size: 1.1rem;
      color: red;
    }
  }

  .file-name {
    padding: 0.2rem;
    font-size: 0.75rem;
  }

  .info-modal {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: $text-color;
    border-radius: $radius-size;
    margin-top: 1rem;
    padding: 1rem;
    .info-tatuador-modal {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 1rem;
      .info-image-modal {
        display: flex;
        margin-left: 1rem;
        .info-image {
          width: 3rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .submit-button {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    background-color: $color-form-alt;
    color: $text-color;
    border-radius: $radius-size;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
  }
  .submit-button:hover {
    background-color: $text-color;
    color: $color-form-alt;
    font-size: 1.125rem;
  }
}

.section3 {
  background-color: green;
}

.section4 {
  background-color: yellow;
}

// Estilos para telas pequenas (até 768px)
@media screen and (max-width: 768px) {
  .section0 {
    display: flex;
    flex-direction: column;
    height: auto; /* Remove a altura fixa */
    padding-inline: 2rem;

    .left {
      order: 1; /* Muda a ordem para ficar no topo */
      margin-bottom: -8rem;
    }

    .right {
      padding: 1rem;
      margin-bottom: -5rem;
      order: 2; /* Muda a ordem para ficar na parte inferior */
    }
  }

  .section1 {
    .image-logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .logo-sections {
        position: absolute;
        top: 0;
        max-width: 20%;
        max-height: 20%;
      }
    }

    .portifolio-container-large {
      display: none;
    }
    .portifolio-container-medium {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 2rem;
      .medium-row1,
      .medium-row2,
      .medium-row3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        .portifolio-image-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          .rounded-image {
            cursor: pointer;
            border-radius: 100%;
            max-width: 60%;
            border: 0.2rem $body-color-second solid;
            transition: all 0.3s ease;
          }
          .rounded-image:hover {
            max-width: 80%;
          }
        }
      }
    }
    .portifolio-container-minimum {
      display: none;
    }
  }

  .section2 {
    .image-logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .logo-sections {
        position: absolute;
        top: 0;
        max-width: 20%;
        max-height: 20%;
      }
    }

    .form-container {
      width: 70%;
      background-color: $body-color-second;
    }
    .form-group {
      flex-direction: column;
    }
    .div1 {
      margin-right: 0rem;
    }
    .div2 {
      margin-left: 0rem;
    }
  }
}

@media screen and (max-width: 468px) {
  .section0 {
    padding-inline: 0rem;

    .links-container {
      height: 55vh;
    }
    .link-with-icons {
      bottom: 0.25rem;
    }
    .link-with-icons .icon {
      font-size: 1.7rem;
    }

    .link-with-icons:hover .icon {
      font-size: 1.9rem; /* Ajuste o tamanho desejado para o crescimento */
    }
  }

  .section1 {
    .image-logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .logo-sections {
        position: absolute;
        top: 0;
        max-width: 40%;
      }
    }
    .portifolio-container-large {
      display: none;
    }
    .portifolio-container-medium {
      display: none;
    }
    .portifolio-container-minimum {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 2rem;
      .minimum-row1,
      .minimum-row2,
      .minimum-row3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        .portifolio-image-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          .rounded-image {
            cursor: pointer;
            border-radius: 100%;
            max-width: 90%;
            border: 0.2rem $body-color-second solid;
            transition: all 0.3s ease;
          }
          .rounded-image:hover {
            max-width: 100%;
          }
        }
      }
    }
    .swiper-slide {
      width: 70%;
    }
    .slider-controler .slider-arrow {
      .arrow-back-outline,
      .arrow-forward-outline {
        display: none;
      }
    }
  }
}
